//
// Footer
// --------------------------------------------------


.site-footer {
    position: relative;
    background-color: $light-gray;
    
    background-size: cover;
    background-position: center;
    
    position: relative;
    
    .wrap {
        position: relative;
        z-index: 2;   
    }

}


.footer-widgets {
    padding-top: rem-calc(35);
    
    @include breakpoint(large) {
        padding-top: rem-calc(25);
    }
    
    border-top: 10px solid $blue;
    
    @include breakpoint(large) {
        border: none;   
    }
    
    .wrap {
        position: relative;
        z-index: 2; 
    }
    
    .widget {
        
        padding: 0 0 15px 0;
        text-align: center;   
        
        @include breakpoint(large) {
            padding: 0; 
        }
        
        .widget-title {
            color: $dark-gray;
            font-size: rem-calc(22);
            line-height: 1.18;
        }
        
        p {
            font-size: 16px;
            line-height: 1.625;
            margin-bottom: rem-calc(15);
        }
        
        a:hover {
            color: $navy;   
        }
    }
    
    .widget:not(.widget_text):not(.be-social-widget) {
        .widget-title {
            @include screen-reader-text;   
        }
    }
   
    
    p {
        &:last-child {
            margin-bottom: 0;   
        }
    }
    
    .widget {
        margin-bottom: 10px;
        text-align: center;   
        
        &.widget_media_image {
            img {
                max-width: 255px!important;   
            }
        }
        
        .social-icons {
            margin-top: rem-calc(15);
            ul {
                @include list-reset;
                display: inline-block;   
            }
        }
    } 
    
    
}


.footer-widgets .gform_widget {
     
    .gform_wrapper li.gfield.gfield_error, 
    .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
        background-color: transparent!important;
        border: none!important;        
    }
    
    form {
        width: 100%!important;
        
        @include breakpoint(medium) {
            max-width: 320px;
            display: flex;              
        }
    }
    
    .gf_simple_horizontal div.gform_body ul.top_label li.gfield {
        padding-right: 0!important;
    }
    
    .gform_wrapper form {
        margin: 0 auto!important;      
    }
    
    .gfield_description.validation_message {
        @include screen-reader-text;
    }
        
    .gform_body {
        padding: 0!important;
        width: 100%;
        
        input {
            margin-top: 0!important;   
            height: 42px;
            border: 1px solid #C6C9CB!important;
        }
    }
    
    .gform_fields li.gfield {
        padding: 0!important;
    }
    

    .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
    .gform_wrapper li.gfield_error textarea {
        border: none!important;
    }
        
    .gform_footer {
         margin: 0!important;   
         line-height: 1;   
         text-align: center;  
         
         @include breakpoint(medium) {
            width: auto;
            flex: 0 0 auto!important;
            max-width: 100%;
         }
         
         .button {
            @include button;    
            @include button-background( $blue, $navy );
            @include button-color();
            @include button-padding();
            border-radius: 51px;
            color: #fff;   
            width: auto!important;
            min-width: 0!important;  
            margin: 0!important; 
            background-color: $blue!important;
            height: 42px!important;
            font-size: 13px;
            letter-spacing: 1.1px;
            line-height: 20px;
            text-align: center;
            text-align: center;
            padding: 0 20px!important;
            border: none!important;
            box-shadow: none;
            margin: 0 auto;
            display: inline-block;
            
            &:hover {
                background-color: $navy!important;
            }
             
            @include breakpoint(medium) {
                display: block;
                border-radius: 0 51px 51px 0;
            }
            
         }
    }
    
}


.footer-copyright {
    
    padding: rem-calc(0 0 25);  
    
    @include breakpoint(large down) {
        text-align: center;
        
        .copyright {
            margin-bottom: 15px;   
        }
    }
    
    p {
        color: #4A4A4A;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        margin-bottom: 8px; 
        
        span {
             display: block;
             margin-bottom: 10px;
             
             @include breakpoint(medium) {
                 display: inline;
                 margin: 0;
             }
        }
        
        b {
            font-weight: normal;
            
            @include breakpoint(small only) {
                display: none;
            }
        }
        
        a {
            color: #4A4A4A;
        }

    }
   
      
}


