// Page Builder

.page-template-page-builder {
    
    .site-content {
        padding-bottom: 0;    
    }
    
    .section-hero {
        text-align: center;   
    }
    
    .site-main {
        
        section:nth-child(even) {
            
            margin-top: 0;
            
            .wrap {
                background-color: $light-gray;
                padding: 55px 0;   
            }
            
            @include breakpoint(large) {
        
                .column-block {
                    margin-bottom: rem-calc(55);   
                }
                
                .column:first-child {
                    padding-right: rem-calc(map-get($grid-column-gutter, large)*1.5);  
                }
                
                .column:last-child {
                    padding-left: rem-calc(map-get($grid-column-gutter, large)*1.5);  
                }
                
                
            }  
        }
        
        section:nth-child(odd) {
            
            .wrap {
                padding-bottom: 55px;   
            }

            @include breakpoint(large) {
        
                .column-block {
                    margin-bottom: rem-calc(55);   
                }
                
                .column:first-child {
                    padding-left: rem-calc(map-get($grid-column-gutter, large)*1.5);  
                }
                
                .column:last-child {
                    padding-right: rem-calc(map-get($grid-column-gutter, large)*1.5);  
                }
                
                
            }   
        }
    }

}